.todo-list {
  font-size: 20px;
  margin: 20px;
  display: flex;
  justify-content: space-between;
}

.todo-display {
  display: flex;
  overflow: auto;
  flex-direction: column;
  max-height: 300px;
}


